.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 28px;
  margin: 0 156px;
  list-style: none;
}

.gallery-item {
  overflow: hidden;
  /* border-radius: 8px; */
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.modal-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 600px;
  margin: auto;
  /* border-radius: 8px; */
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
}
