.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.search-input {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #a0c4ff;
  border-radius: 8px;
  margin-right: 10px;
}
.search-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4379d7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.loader-text {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  user-select: none;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
